#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.text{
  color: black
}

#title{
  font-size: 80px;
  text-align: center;
  margin: 0%;
  top: 0;
  right: 0;
}

.navbar{
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100px;
  width: 100%;
}

.signCard {
  padding: 2em;
}

.homeButton{
  background-color: blue;
  display: block;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.subtext {
  color: #888;
}

.texts{
  text-align: left;
  margin: 10%;
}

.post-container{
  border-color: rgba(255, 249, 249, 0.761);
  background-color: rgba(255, 249, 249, 0.761); 
  height: 275px;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.profile-pic{
  width: 50px;
  height: 50px;
}

.new-post-input{
  width: 500px;
  height: 150px;
  background-color: white;
  color: black;
}

#signout{
  position: fixed;
  top: 0;
  left: 0;
}

.single-post{
  color: black
}

.like{
  border: none;
  background-color: rgba(255, 249, 249, 0.761);
}

.new-post-side-button{
  position: sticky;
  top: 0;
  left: 0;
}